{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastrar Novo Lead{% endblock %}

{% block content %}
    <h2>Cadastrar Novo Lead</h2>
    <img src="{% static 'images/img.jpg' %}" alt="Gatinho de óculos escuro" class="img"/>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
{% endblock %}