{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Captura de Lead</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <img
        src="{% static 'images/img.jpg' %}"
        alt="Gato de óculos escuro"
        class="logo"
      />

      <h1>Cadastrar lead</h1>
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>
